.content {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.footer {
    margin-top: 4rem;
}

.table-clean td,
.table-clean th {
    border-width: 0;
}

.table-clean .title {
    min-width: 120px;
}

.table-clean .progress {
    max-width: 600px;
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}


/*
 * Pages
 */

.details table {
    width: 100%;
}

.details tr {
    vertical-align: top;
    /*border-bottom: 1px solid #dedede;*/
}

.details td {
    padding: 20px 0;
}

.details td.check {
    font-weight: bold;
    min-width: 100px;
}

.details td.icon {
    min-width: 25px;
    padding-left: 10px;
    padding-right: 20px;
}

.details .storage td {
    padding: 15px 0;
}

.details .progress {
    margin-bottom: 8px;
}

.details .storage .progress {
    margin-top: 10px;
}

.rapid-status div {
    margin-top: 20px;
}

.infos div {
    margin-bottom: 20px;
}

.services td.check {
    width: 125px;
}

.services td.icon {
    width: 60px;
}

.disks td.check {
    width: 125px;
}

.disks td.icon {
    width: 60px;
}


/*
 * Mediaqueries
 */

@media (max-width: 770px) {
    body {
        margin: 0;
        padding: 0;
    }
    .progress {
        max-width: 100% !important;
    }
    .navbar {
        width: 100% !important;
        margin-left: 0 !important;
    }
    header img {
        display: none;
    }
    header {
        padding: 0 10px 0 20px;
        height: 120px;
    }
}


/*
 * Bootstrap override
 */

.popover {
    width: 650px;
    max-width: 650px;
}

.infos div .popover-content {
    margin-bottom: 0px;
}

.popover-content table {
    margin-bottom: 0px;
}
